/* shared style  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
}

body {
   max-width: 1440px;
   margin: auto;

}

.title-style {
   color: #131313;
   font-size: 2.8rem;
   font-weight: 700;
}

.title-desc {
   color: #727272;
}

.btn-primary {
   padding: 20px 25px;
   background: #FF900E;
   border-radius: 8px;
   color: #FFF;
   font-size: 1.3rem;
   font-weight: 700;
   border: none;
}

section {
   margin: 30px 200px;
}

/* header part style  */
header {
   background: rgba(255, 144, 14, 0.10);
   padding: 25px 200px;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav ul {
   display: flex;
   list-style: none;
}

nav li {
   margin-left: 25px;
   font-weight: 500;
   font-size: 1.2rem;
}

nav a {
   color: #424242;
   text-decoration: none;
}

.banner {
   text-align: center;
   margin-top: 100px;
}

.banner-title {
   font-size: 4rem;
}

.banner p {
   margin: 20px 0;
}

.banner img {
   width: 100%;
   margin-top: 25px;
}

/* team section part start  */
.team-section-container {
   display: flex;
   gap: 40px;
   align-items: center;
}

.team-img-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   width: 50%;
}

.team-section-container img {
   width: 100%;
}

.team-content {
   width: 50%;
}

.team-content h3 {
   font-size: 2rem;
   margin-bottom: 15px;
}

.team-content p {
   margin-bottom: 15px;
}

.team-content-features {
   color: #FF900E;
}

.Quick-list {
   color: #727272;
}

/* responsive part start  */
/* mobile device  */
@media screen and (max-width: 576px) {
   * {
      font-size: 12px;
   }

   header {
      padding: 20px;
   }

   nav,
   nav>ul
   {
      flex-direction: column;
      margin-top: 10px;
   }

   .team-section-container {
      flex-direction: column-reverse;
   }

   nav li {
      margin: 10px 0;
   }

   .banner-title {
      font-size: 2.8rem;
   }

   section {
      margin: 20px;
   }

   .team-content,
   .team-img-container {
      width: 100%;
   }

   .Quick-list,
   .team-content-features,
   .team-content span {
      font-size: 2.2rem;
   }

   .btn-primary {
      padding: 10px 20px;
   }
  
}


/* table or medium device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
   * {
      font-size: 14px;
   }

   header {
      padding: 20px;
   }
   section{
      margin: 30px;
   }
   .banner-title {
      font-size: 3.5rem;
   }
   .team-section-container{
      flex-direction: column;
   }
   .team-img-container, .team-content{
      width: 100%;
   }
   .Quick-list,
   .team-content-features,
   .team-content span {
      font-size: 3rem;
   }
   .btn-primary {
      padding: 15px 20px;
   }
}